@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


*{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
} 
:root{
    --font1:'Passion One';
    --font2: 'Sriracha';
}
body, html{
    min-height: 100vh;
}
.cor1{
    color: white;
}
div > p{
    font-family: var(--font2);
}
.p1{
    font-family: var(--font2);
}
a{
font-weight: bolder;
color: white;
}
a:hover{
    text-decoration: underline;
    font-weight: bolder;
}
header{
    background-color: black;
}
header > h1{
    font-family: var(--font1);
    font-variant: small-caps;
    padding-top: 40px;
    text-align: center;
    
}
header > p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}
header > h1{
    font-size: 5em;
}
footer{
    background-color: black;

}
footer > p{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    

}