@charset "UTF-8";

@font-face {
    font-family: "bebas";
    src: url('fontes/bebas_neue/BebasNeue-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "android";
    src: url("fontes/idroid/IDroid.ttf") format('truetype');
    font-weight: 400;
    color: #0c5e2f;
}
body{
    margin: 0px;
    background-color: #E7E5C1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header{
    background-image: linear-gradient(to bottom, #088d44, #0db659 10%, #0e974c 30%, #0f6e3a 70%, #063d1e);
    height: 240px;
}
header > h1{
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0px;
    padding-top: 19px;
    text-shadow: 1px 1px 12px black;
    font-family: "bebas";
    font-size: 2.3em;

}
header > p{
    text-align: center;
    color: white;
}
header > nav{
    display: inline-block;
    padding-top: 98px;
    padding-left: 5px;
    

}
header > p{
    padding-top: 40px;
    margin: 0px;
}
nav > a{
    text-decoration: none;
    color: #70c490;
    
    padding: 4px;
     
}
nav > a:hover{
    color: #ffffff;
    text-decoration: underline;
    background-color: #07692c; 
    border-radius: 5px;

    
}

main{
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
     min-width: 300px;
     max-width: 1000px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.425);
    

}
 
main > article > h1{
    font-family: "android";
    font-weight: 400;
    margin: 0px;
    color: #0c5e2f;
}

main > article{
    padding: 10px;
}


Main >  article > h2{
    font-family: "android";
    color: #0c5e2f;
    font-weight: normal;
    padding-left: 2px;
    background-image: linear-gradient(to right, rgb(113, 204, 162) 30%, rgb(145, 224, 181) 40%, rgb(255, 255, 255) 70%);
    
     
}


 header > p{
    text-shadow: 2px 3px 6px black;

}
main > article > img{
    width:  100%;
}

.destaque{
    color: #0c5e2f;
}

.oi{
    background-color: #70c490;
    color: #086632;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
}
.oi:hover{
    text-decoration: underline;
}

 span > img{
     
    width: 100%;
   
 }

 aside{
    background-color: #C5EBD6;
    height: 300px;
 }
 aside > p{

 }

span#fakeh1 > p{
    background-color: #2FA866;
    color: white;
    padding: 7PX;
    font-weight:  bolder;
    border-radius: 5px 5px 0px 0px;
 }